@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap');

:root {
  --PrimaryColorNavyBlue: hsl(224, 64%, 33%);
  --HoverPrimaryColor: hsl(224, 53%, 40%);
  --SecondaryColorTeal: #14b8a6;
  --HoverSecondaryColorTeal: #36decb;
  --AccentColorOrange: hsl(27, 96%, 61%);
  --MainBackgroundColor: hsl(220, 14%, 96%);
  --SecondaryWhiteColor: #E7E7E7;
  --TextColor: hsl(221, 39%, 11%);
  --PlaceholderText: hsl(219, 10%, 34%);
  --AccentDarkNavy: #162c5f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .3s ease;
}

.font-quicksand {
  font-family: "Quicksand", sans-serif !important;
}

.font-playfair-display {
  font-family: "Playfair Display", serif !important;
}

.font-lora {
  font-family: "Lora", serif !important;
}

.text-main-color {
  color: var(--TextColor) !important;
}

.logo {
  color: var(--PrimaryColorNavyBlue);
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 700;
  font-size: 2rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.tagline-header {
  font-family: "Lora", sans-serif;
  font-size: 3rem;
  font-weight: 500;
}

.btn {
  width: 100px;
  height: 35px;
  background: var(--PrimaryColorNavyBlue);
}

img {
  width: 100;
  height: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}