:root {
  --PrimaryColorNavyBlue: hsl(224, 64%, 33%);
  --HoverPrimaryColor: hsl(224, 53%, 40%);
  --AccentColorOrange: hsl(27, 96%, 61%);
  --MainBackgroundColor: hsl(220, 14%, 96%);
  --TextColor: hsl(221, 39%, 11%);
  --PlaceholderText: hsl(219, 10%, 34%);
  --AccentDarkNavy: #162c5f;
}

.footer {
  background: var(--AccentDarkNavy);
  .footer-container {
    .logo-div {
      .logo {
        color: white;
      }

      .subtext {
        font-family: "Playfair Display", sans-serif;
      }
    }

    .footer-links {
      display: grid;
      row-gap: 0.5rem;
      font-family: "Quicksand";
      color: white;
      align-items: center;
      justify-content: center;
      text-align: center;

      li, .address, .phone, .email {
        &:hover {
            transform: translateX(10px);
          a,
          Link {
            color: var(--AccentColorOrange);
          }
        }
      }
    }
  }

  .lower-section-container {
    .all-rights, a {
      font-family: "Quicksand";
      font-weight: 100;
    }
  }
}
